body {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: sans-serif;
  background-color: #121212;
  color: #eeeeee;
}
header{
  background-image: url(image/konaga.jpg);
  background-size: cover;
  background-position: center;
  padding: 200px;
}
h1 {
  color: #eeeeee;
}
